@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family:'barlow semi condensed', sans-serif;
    background: radial-gradient(circle at 50% 10%,
     hsl(143, 88%, 44%),
     hsl(207, 87%, 15%)
    );
    min-height: 100vh;
    color: white;
}

.container{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

  
}
header{
    border: solid 3px cornsilk;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: 100px;
    min-width: 900px;
}

h1{
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    
}
h4{
    color: green;
    font-size: 20px;
    margin:0px;
}
.score-container{
    background-color: white;
    color: black;
    padding: 10px 50px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
width: 200px;
}



.score-container p{
    font-size: 4rem;
    margin:0px;
    font-weight: 700;

}

.btn-rules{
    border: 2px solid white;
  border-radius: 5px;
  min-width: 150px;
  min-height: 30px;
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 25px;
  font-family: inherit;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  bottom: 20px;
  right: 30px;

}
.btn{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border:  15px solid;
    text-align: center;

}

.btn.circle-1 {
    border-color: red;
   

}
.mt-1{
    margin-top: 100px;
}
.btn.circle-2{
    border-color: khaki;
    
}

.mb-2{
    margin-bottom: 100px;
}
.btn.circle-3{
    border-color: blueviolet;

}

.mt-3{
    margin-top: 100px;
}

.btn.circle-4{
    border-color:darkblue;
  

}
.ml-4{
    margin-left: 50px;
}

.btn.circle-5{
    border-color: yellow;
    

}
.mr-5{
    margin-right: 50px;
}
.pentagone{
    background-image: url(/style/images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color:transparent;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.winner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 1000px;
    margin: 0 auto;

}

.btn-play {

    border: 3px solid green;

    border-radius: 10px;
    min-width: 150px;
    min-height: 30px;
    color:green;
   
    text-transform: uppercase;
    padding: 10px 25px;
    font-family: inherit;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
   
  
}
.winner h1{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-size: 5rem;


}

.winner .btn{
transform : scale(1.6);
margin: 50px;
}